:root {
  --color-text-primary: #fff;
  --color-page-bg: #1b1b1d;
  --color-header-bg: rgb(255 255 255 / 8%);
  --size-font-small: 11px;
  --size-line-height-small: 14px;
  --size-icon: 16px;
}

html,
body {
  background-color: var(--color-page-bg);
  color: var(--color-text-primary);
  font-family: Inter, sans-serif;
}

.container {
  padding-inline: 20px;
}
